@mixin verticalFlex($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin topTitle {
  @include verticalFlex(1rem);
  justify-content: center;
  align-items: center;
  text-align: center;
  .title {
    position: relative;
    p {
      position: absolute;
      top: 5px;
      left: 45px;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
    }
  }
  .heading {
    p {
      font-size: 15px;
      color: rgb(110, 107, 107);
      margin: 1rem 0;
    }
  }
}
