@import "shared";

@mixin line {
  width: 10px;
  background: var(--secondary-color);
  position: absolute;
}

.chooseus {
  height: max-content;
  width: 100%;
  color: white;
  padding: 10rem 0;
  .content {
    display: flex;
    gap: 4rem;
    .left {
      position: relative;
      width: 60%;

      .playbtn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 40%;
        cursor: pointer;
        img {
          width: 25px;
        }
      }
      .line1 {
        @include line();
        height: 300px;
        bottom: 90px;
        left: 0;
      }
      .line2 {
        @include line();
        height: 450px;
        bottom: 120px;
        right: 10px;
        transform: rotate(-7deg);
      }
    }
    .right {
      @include verticalFlex(1.3rem);
      a {
        background: var(--primary-color-light);
        color: white;
        padding: 15px 25px;
        width: max-content;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        z-index: 2;
        transition: all 0.3s ease-in;

        &::after {
          content: "";
          width: 12rem;
          height: 3rem;
          border: 1px solid rgba(131, 129, 129, 0.362);
          border-bottom: 1px solid var(--primary-color-light);
          border-left: 1px solid var(--primary-color-light);
          position: absolute;
          top: -12px;
          left: 12px;
          z-index: 10;
          transition: all 0.4s;
        }
        &:hover {
          background: var(--secondary-color);
          color: white;
        }
        &:hover::after {
          top: 0;
          left: 0;
          width: 0;
        }
        &:hover i {
          color: white;
        }
        i {
          color: white;
        }
      }
      .features {
        width: max-content;
        display: grid;
        grid-template-columns: 40% 40%;
        row-gap: 2rem;
        margin-top: 1.4rem;
        margin-bottom: 2.4rem;
        column-gap: 6rem;

        .feature {
          display: flex;
          align-items: center;
          gap: 20px;
          h3 {
            font-size: 1.1rem;
            width: 120px;
          }
          .image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: rgba(102, 95, 95, 0.424);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in;
            &:hover {
              background: var(--secondary-color);
            }
            img {
              width: 33px;
            }
          }
        }
      }
      .title {
        position: relative;
        p {
          text-transform: uppercase;
          font-weight: bold;
          position: absolute;
          top: 5px;
          left: 33px;
        }
      }
      .text {
        @include verticalFlex(1rem);
        h2 {
          width: 75%;
          font-size: 2.4rem;
          line-height: 2.9rem;
        }
        p {
          color: rgb(163, 160, 160);
          line-height: 1.8rem;
          width: 75%;
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  .chooseus {
    .content {
      @include verticalFlex(1rem);
      align-items: center;
      .left {
        .line1,
        .line2 {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      .right {
        align-items: center;
        .text {
          text-align: center;
          h2,
          p {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .chooseus {
    .content {
      @include verticalFlex(1rem);
      justify-content: center;
      padding: 3rem 1rem;
      .left {
        width: 100%;
      }
      .right {
        .features {
          width: 100%;
          @include verticalFlex(1rem);
          .feature {
            gap: 2rem;
          }
        }
      }
    }
  }
}
