.featured {
  height: 125vh;
  width: 100%;
  padding-top: 7rem;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 220px;
      }
      p {
        position: relative;
        top: -2.2rem;
        left: 2rem;
        color: white;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 14px;
      }
      h2 {
        font-size: 2.5rem;
        color: var(--primary-color-light);
      }
    }
    .cards {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 1rem;
      .card {
        height: 310px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease-in;
        &:first-child {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &:last-child {
          grid-column-start: 3;
          grid-column-end: 5;
        }
        &:hover .icon {
          background: white;
        }
        .icon {
          position: absolute;
          top: 6rem;
          left: -70px;
          transform: rotate(25deg);
          background: rgba(154, 151, 151, 0.676);
          width: 150px;
          height: 60px;
          border-radius: 50px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 1.3rem;
          z-index: 1;
          img {
            width: 40px;
          }
        }
        .text {
          position: absolute;
          bottom: 30px;
          left: 30px;
          color: white;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          h2 {
            font-size: 30px;
            font-weight: bolder;
          }
          span {
            background: var(--secondary-color);
            padding: 5px 0.5rem;
          }
        }
        .image {
          width: 100%;
          height: 100%;
          filter: grayscale(100%);
          transition: all 0.5s ease-in;
          &:hover {
            filter: none;
            transform: scale(1.4);
          }
        }
      }
    }
  }
  .cta-bg {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -40px;
    left: 0;
    .text {
      width: 65%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 3rem;
      h2 {
        width: 570px;
        color: white;
        font-size: 35px;
      }
      a {
        background: white;
        color: var(--primary-color);
        padding: 15px 25px;
        width: max-content;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease-in;
        position: relative;
        &::after {
          content: "";
          width: 9rem;
          height: 3rem;
          border: 1px solid rgba(255, 255, 255, 0.362);
          position: absolute;
          top: -12px;
          left: 12px;
          z-index: 1;
          transition: all 0.4s;
        }
        &:hover {
          background: white;
          color: var(--primary-color);
        }
        &:hover::after {
          top: 0;
          left: 0;
          width: 0;
        }
        &:hover i {
          color: var(--secondary-color);
        }
        i {
          color: var(--secondary-color);
        }
      }
    }
  }
}
