@import "shared";

.gallery {
  width: 100%;
  height: max-content;
  padding: 5rem 0;
  position: relative;
  .bgIcon {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;
      text-align: center;
      .title {
        position: relative;
        p {
          text-transform: uppercase;
          position: absolute;
          top: 9px;
          left: 37px;
          color: white;
          font-weight: bold;
          font-size: 15px;
        }
      }
      .heading {
        h1 {
          margin-bottom: 10px;
          font-size: 2.2rem;
        }
        p {
          font-size: 17px;
          color: rgb(108, 105, 105);
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 0.3rem;
      overflow: hidden;
      .card {
        height: 250px;
        &:nth-of-type(1) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 3;
          height: 350px;
        }
        &:nth-of-type(2) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 2;
          height: 200px;
        }
        &:nth-of-type(5) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 4;
          height: 400px;
        }
      }
    }
  }
}

// media queries
@media (max-width: 550px) {
  .gallery .content .cards {
    @include verticalFlex(0.5rem);
  }
}
